html, body {
  width: 100%; 
  height: 100%;
}

#root {
  width: 100%; 
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  flex-flow: flex-start;
  height: 100%;
}

/* main layout style */
.header1 {
  height: 30px;
  background-color: cadetblue;
}

.header2 {
  height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
  background-color: white;
}
.content {
  display: flex;
  /* flex:1 -> flex-glow 1, flex_shrink 1, flex-basis: 0; */
  flex: 1;  
}

.left{
  display: flex;
  flex: none;
  width: 300px;
  flex-direction: column;
  background-color: #bfbab078;
}

.flex-item {
  flex: 1;
}

.flex-item-no {
  flex: none;
}

.main{
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.osm{
  display: flex;
  flex: 1;
  overflow: auto;  
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.main-grid {
  display: flex;
  flex: none;
  height: 200px;
  overflow: scroll;
  /* background-color: #bfbab078; */
}

.m-grid-font {  
  font-size: 12px !important;
}

.m-grid-header{
  height: 20px !important;  
}

.m-grid-body {
  height: 20px !important;
}

.dropdown_ *{
  flex: none;
  font-size: 12px !important;
  margin-left: 1px;
}

.dropdown-toggle_ {
  height: 30px !important;
}

.font-sm {
  font-size: 10px !important;
}

.test-btn-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 1;
  background: deepskyblue;
  width: 100%;
}

.test-btn {
  margin-left: 2px;
  height: 100%;
}

.hidden {
  display: none;
}

.footer {
  background-color: white;
  height: 30px;
  margin-top: auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.foot_time {
  margin: 0;
}